# unit tets
pytest
pytest-cov
pytest-mock
pytest-runner
flaky

# used with structlog
colorama==0.3.9

# Build tasks
invoke

# Packaging
wheel
twine

# Syntax checking
flake8

# Documentation builder
# sphinx-autobuild
# sphinx
